* text=auto eol=lf
/gradlew        text eol=lf
*.bat           text eol=crlf
*.jar           binary
fixtures/** -text
*.golden -text
*.kts text eol=lf
*.kt text eol=lf
*.sh text eol=lf
.githooks/* text eol=lf
